<mat-dialog-content> 
    <form [formGroup]="serviceForm" (ngSubmit)="OnSubmit()">
<div class="container" id="center" >  
    <mat-card style="background-color: white;width: 300px;" class="service-card" >  
      <mat-toolbar color="accent">  
        <div align="center" style="color:rgb(15, 15, 15);text-align: left;">  
          Update Service
         </div>   
      </mat-toolbar>  
    <br><br>  
      <mat-card-content class="text" style="color:black">  
      
                <table class="table table-striped" style="color:black;width: 300px;" >  
                  <tr>  
                   <p>
                    <td class="tbl1" style="color:black;width: 400px">  
                      <mat-form-field class="demo-full-width" hintLabel="Min 5 characters" >  
                        <input #input minlength="5" formControlName="ServiceName" matTooltipClass="primary-tooltip" matTooltip="Enter Name" matInput placeholder=" Name" style="color:black" type="text"  pattern="[a-zA-Z ]*">  
                       
                    </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!serviceForm.get('ServiceName') && serviceForm.get('ServiceName')"></span>  
                      </mat-error>  
                    </td> 
                    </p>
                    <mat-hint style="color: rgb(65, 62, 62);" align="end">hint: only provide characters: {{input.value?.length || 0}}/5</mat-hint>  
                    <p>
                        <td class="tbl1" style="color:black">  
                          <mat-form-field class="demo-full-width" style="color:black" hintLabel="Min 10 characters"> 
                            <textarea #txtarea minlength="10" formControlName="ServiceDescription" matTooltip="Enter Description" matInput placeholder="Description"  style="color:black;width: 600px;" type="text"  pattern="[a-zA-Z ]*"></textarea> 
                            </mat-form-field>  
                          <mat-error>  
                            <span *ngIf="!serviceForm.get('ServiceDescription') && serviceForm.get('ServiceDescription')"></span>  
                          </mat-error>  
                        </td>  
                    </p>
                    <mat-hint style="color: rgb(65, 62, 62);" align="end">hint: only provide characters: {{input.value?.length || 0}}/10</mat-hint>  
                  </tr>   
                  <tr>  
                    <td  class="content-center">  
                      <button type="submit" mat-raised-button color="accent"matTooltip="Click Submit Button"[disabled]="!serviceForm.valid">Save</button>      
                      <button type="reset" mat-raised-button color="accent"matTooltip="Click Reset Button" (click)="Close()">Cancel</button>  
                    </td>  
                    <td>  
                      <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                        {{massage}}  
                      </p>  
                    </td>  
                  </tr>  
                </table>   
       
      </mat-card-content>  
    </mat-card>  
    </div>  
    </form>
</mat-dialog-content>
