<script
  src="https://kit.fontawesome.com/7f5b181dad.js"
  crossorigin="anonymous"
></script>

<nav id="navbar">
  <div id="logo">
 
  </div>

  <div id="navbar-nav" >
    <div  class="Container">
      <a class="navbar-item" routerLink="/create"><i class="bi bi-bag-fill"></i>Create Schedule</a>
      <a class="navbar-item" routerLink="/service"><i class="bi bi-person-workspace"></i>Inspection Type</a>
      <a class="navbar-item" routerLink="/cart"><i class="bi bi-cart-plus-fill"></i>Employee Type</a>
      <a class="navbar-item" routerLink="/promotions"><i class="bi bi-envelope-open"></i>employeetype</a>
      <a class="navbar-item" routerLink="/cart"><i class="bi bi-search"></i>Truck</a>
      </div>
    <div class="Container" >
    
      <a class="navbar-item" routerLink="/servicemanagement"><i class="bi bi-tools"></i>Hire Me!</a>
      
      </div>
  <div id="navbar-profile">
    <a class="navbar-item"  routerLink="/userRole" *ngIf="Role"><i class="bi bi-bell-fill"></i></a>
   
    <a class="navbar-item biggerText"  *ngIf="!Role" routerLink="/login">Login</a>
    <p class="biggerText" >|</p>
    <a class="navbar-item biggerText" *ngIf="!Role" routerLink="/register" >Register</a>

 <div class="Container">
    <a class="navbar-item biggerText userProfile" *ngIf="Role" routerLink="/profile" >
        <img src="" alt="" id="profilePicture">
      View My Profile
    </a>
    <p class="biggerText" >|</p>
    <a class="navbar-item biggerText" *ngIf="Role" (click)="logout()">Log out</a>
</div>
</div>
  </div>
</nav>