<p>truck-list works!</p>
<table class="table table-sm table-hover">
    <tr *ngFor="let truck of truckService.TruckList | async">
      <td>{{truck.TruckId}}</td>
      <td>{{truck.Make}}</td>
      <td>{{truck.Model}}</td>
      <td>{{truck.Year}}</td>
      <td>
        <a class="btn" (click)="showForEdit(truck)">
          <i class="fa fa-pencil-square-o"></i>
        </a>
        <a class="btn text-danger" (click)="onDelete(truck.TruckId)">
          <i class="fa fa-trash-o"></i>
        </a>
      </td>
    </tr>
  </table>