<!--<div class="container" id="center">  
    <mat-card style="background-color: white;" >  
      <mat-toolbar color="accent">  
        <div align="center" style="color:white;text-align: left;">  
         Jobs List
        </div>    
      </mat-toolbar>  
    <br><br>  
      <mat-card-content>  
        <form [formGroup]="serviceForm"(ngSubmit)="onFormSubmit()">  
    <br><br>  
          <table class="table table-striped" >  
              <tr ngclass="btn-primary">  
                <th class="tbl2">Name</th> 
                <th class="tbl2">Description</th> 
                <th class="tbl2">Options</th>
              </tr>  
              <tr *ngFor="let ser of serviceList  | async">  
                <td class="tbl2">{{ser.ServiceName}}</td> 
                <td class="tbl2">{{ser.ServiceDescription}}</td>  
                <td class="tbl2">  
                  <button type="button" class="btn btn-info"matTooltip="Click Edit Button"(click)="loadServiceToEdit(ser.Service_ID);openDialog()" >Edit</button>  
                </td>  
                <td class="tbl2">  
                  <button type="button" class="btn btn-danger"matTooltip="Click Delete Button"(click)="deleteService(ser.Service_ID)">Delete</button>  
                </td>  
              </tr>  
      
            </table>  
        </form>  
      </mat-card-content>  
    </mat-card>  
    </div>  
  -->
    <div class="container" style="width: 700px;">
      <div class="d-flex page__box p-3 mt-2">Service List</div>
      <div class="page__content shadow p-3">
        <div class="page__content-data">
          <div class="position-relative">
            <div class="position-absolute top-0 end-0 icon-hover">
              <mat-icon style="font-size: xx-large" (click)="EditDialog()">add</mat-icon>
            </div>
          </div>
          <br>
    
          <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="myFilter($any($event.target).value)" placeholder="Ex. ium" #input>
          </mat-form-field>
    
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 600px;">
            <ng-container matColumnDef="ServiceName">
              <th mat-header-cell *matHeaderCellDef>Service Name</th>
              <td mat-cell *matCellDef="let element" >{{element.ServiceName}} </td>
            </ng-container>
    
            <ng-container matColumnDef="ServiceDescription">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">{{element.ServiceDescription}}</td>
            </ng-container> 
  
          
            <ng-container matColumnDef="edit">
              <tr>
                <th mat-header-cell *matHeaderCellDef>Edit</th>
              </tr>
              <tr>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button class="btn btn-info" (click)="routerEditService(row.Service_ID,row.ServiceName,row.ServiceDescription)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
              </tr>
            </ng-container>
    
            <ng-container matColumnDef="delete">
              <tr>
                <th mat-header-cell *matHeaderCellDef>Delete</th>
              </tr>
              <tr>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button class="btn btn-danger" (click)="deleteService(row.Service_ID)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
            </ng-container>
    
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
           
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
        </div>
      </div>
    </div>