
thead {
    background-color: #01f6fe;
    width: 30%;
    height: 40px;
}
#search {
    margin-left: 70%;
    height: 40px;
}
.container{
    text-align: center;
    margin-left: 5%;
    width: 90%;

}
#icon:hover {
    color: #01f6fe;
  }
  .Cancel{
    
    height: 40px;
    width: 70px;
    background-color: #01f6fe;
    border: solid 1px #01f6fe;
    border-radius: 3px;
    color: #fff;
   
}


.Add{
  
    margin-left: 0%;
    width: 80px;
    height:40px;
    background-color: #01f6fe;
    border: solid 1px #01f6fe;
    border-radius: 3px;
    color: #fff;
}
