
#center{
    display: flex;
    justify-content: center;
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
    flex: 1 1 auto;
    
    display: flex;
    justify-content: center;
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    width: 50%;
  

  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }