/*.mat-tooltip.tooltipStyle {
    font-size: 11px;
    color: red;
}
.tool-tip {
    color: white;
    background-color: red;

  }*/
  /*
::ng-deep .mat-tooltip {
   
    color: yellow;
}
.primary-tooltip { color: black !important; }
.placeholder{
    color:black;
}

    .mat-input-element {
        color: slategray;
    }
    .mat-form-field-label {
        color: slategray;
    }
    .mat-form-field-underline {
        background-color: slategray;
    }
    .mat-form-field-ripple {
        background-color: slategray;
    }
    .mat-form-field-required-marker {
        color: slategray;
    }

.demo-full-width{
    color:black;
}*/
/*
#center{
    display: flex;
    justify-content: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}*/
/*
.service-card{
    max-width: 600px;
    display: flex;
    justify-content: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text{
    color:black;
}
mat-form-field.mat-form-field {
    font-size: 16px;
    color: #000;
  }
  ::ng-deep .mat-form-field-underline .mat-form-field-ripple{

    background-color:red;
  }
  
  ::ng-deep .mat-form-field-underline{
  
    background-color:red;
  }
  ::ng-deep .mat-form-field-label{
    color:#000 !important;
}*/
mat-form-field.mat-form-field {
    font-size: 16px;
    color: red;
}

  
  ::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
    background-color: rgb(0, 0, 0) !important;
  }
  /*
  ::ng-deep .mat-focused .mat-form-field-label {
    
    color: green !important;
   }
*/
   /** Overrides label color **/
.mat-form-field-appearance-legacy .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-focused
	.mat-form-field-label {
	color: rgb(128, 32, 206) !important;
    
}

/** Overrides caret & text color **/
.mat-form-field-appearance-legacy .mat-input-element {
	caret-color: rgb(192, 59, 59)!important;
  color: rgb(74, 179, 32)!important;
}
::ng-deep .mat-form-field-label{
color: #000;
}
