<div class="container pt-5">
    <div class="row justify-content-sm-center pt-5">
        <div class="col-sm-6 shadow round pb-3">
  <form>
    <div class="form-group">
        <div><b>Register Truck</b></div>
        <div class="flex-end"><button type="button" class="btn btn-primary">Add Image</button></div>
      <label for="Registration">Registration Number</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="Model">Model</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="Year">Year</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="Colour">Colour</label>
        <input type="text" class="form-control">
      </div>
    <div class="form-group">
      <label for="Make">Make</label>
          <input type="text" class="form-control">
    </div>
  <div class="d-flex" style="margin-top:8px">
    <button type="button" class="btn btn-primary">Register Truck</button>
  </div>

  </form>
  </div>
  </div>
  </div>