<div class="container" id="center" >  
    <mat-card style="background-color: rgb(255, 255, 255);" class="service-card">  
      <mat-toolbar color="accent">  
        <div align="center" style="color:rgb(15, 15, 15);text-align: left;">  
         Create Truck
        </div>    
      </mat-toolbar>  
    <br><br>  
      <mat-card-content class="text" >  
        <form [formGroup]="truckForm"(ngSubmit)="OnSubmit()" class="example-container">  
                 
                   
                     
                        <mat-form-field class="demo-full-width"  >  
                            <mat-select formControlName="TruckType_ID" matTooltip="Choose Truck type " placeholder="Choose Truck Type">
                              <mat-option class="status" *ngFor="let status of allTruckTypes|async"  [value]="status.TruckType_ID" >
                                <p >{{status.TruckTypeName}}</p>
                              </mat-option>
                            </mat-select> 
                          </mat-form-field>  
      
                          <mat-error>  
                            <span *ngIf="!truckForm.get('TruckType_ID') && truckForm.get('TruckType_ID')"></span>  
                          </mat-error> 
                      
                       
                        
                  
                    
                      <mat-form-field class="demo-full-width" hintLabel="Min 5 characters" >  
                        <input #input minlength="5" formControlName="Model" matTooltipClass="primary-tooltip" matTooltip="Enter Model" matInput placeholder=" Model" style="color:black; position: relative;" type="text"  >  
                      </mat-form-field>  
                      <mat-error>  
                        <span *ngIf="!truckForm.get('Model') && truckForm.get('Model')"></span>  
                      </mat-error>  
                    
                  
                    <mat-hint style="color: rgb(65, 62, 62);" align="end">hint: only provide characters: {{input.value?.length || 0}}/5</mat-hint> 
                    <p>
                       
                          <mat-form-field class="demo-full-width" style="color:black" hintLabel="Min 4 characters"> 
                            <input #input maxlength="4" formControlName="Year" matTooltip="Enter Year" matInput placeholder="Year"matInput style="color:black" type="text" > 
                          </mat-form-field>  
                          <mat-error>  
                            <span *ngIf="!truckForm.get('Year') && truckForm.get('Year')"></span>  
                          </mat-error>  
                        
                    </p>
                    <mat-hint style="color: rgb(65, 62, 62);" align="end">hint: only provide the year: {{input.value?.length || 0}}/4</mat-hint>   
                    <p>
                        
                          <mat-form-field class="demo-full-width" style="color:black"  hintLabel="Min 5 characters"> 
                            <input #input minlength="5" formControlName="Colour" matTooltip="Enter Colour" matInput placeholder="Colour"matInput style="color:black" type="text" ngModel pattern="[a-zA-Z ]*">
                          </mat-form-field>  
                          <mat-error>  
                            <span *ngIf="!truckForm.get('Colour') && truckForm.get('Colour')"></span>  
                          </mat-error>  
                         
                    </p> 
                    <mat-hint style="color: rgb(65, 62, 62);" align="end">hint: only provide characters: {{input.value?.length || 0}}/5</mat-hint>   
                    <p>
                       
                          <mat-form-field class="demo-full-width" style="color:black"  hintLabel="Min 5 characters"> 
                            <input #input minlength="5" formControlName="RegNum" matTooltip="Enter RegNum" matInput placeholder="RegNum"matInput style="color:black" type="text" > 
                          </mat-form-field>  
                          <mat-error>  
                            <span *ngIf="!truckForm.get('RegNum') && truckForm.get('RegNum')"></span>  
                          </mat-error>  
                         
                    </p>   
                    <mat-hint style="color: rgb(65, 62, 62);" align="end">hint: only provide characters: {{input.value?.length || 0}}/5</mat-hint> 
                    <p>
                         
                          <mat-form-field class="demo-full-width" style="color:black" hintLabel="Min 5 characters"> 
                            <input #input minlength="5" formControlName="Make" matTooltip="Enter Make" matInput placeholder="Make"matInput style="color:black" type="text" ngModel pattern="[a-zA-Z ]*">
                          </mat-form-field>  
                          <mat-error>  
                            <span *ngIf="!truckForm.get('Make') && truckForm.get('Make')"></span>  
                          </mat-error>  
                         
                    </p> 
                    <mat-hint style="color: rgb(65, 62, 62);" align="end">hint: only provide characters: {{input.value?.length || 0}}/5</mat-hint> 
                    <p>
                    <mat-form-field class="demo-full-width" >  
                        <mat-select formControlName="TruckStatus_ID" matTooltip="Choose Status " placeholder="Choose Status">
                          <mat-option *ngFor="let status of allTruckStatus|async"  [value]="status.TruckStatus_ID" >
                            <p >{{status.TruckStatusName}}</p>
                          </mat-option>
                        </mat-select> 
                      </mat-form-field>  
  
                      <mat-error>  
                        <span *ngIf="!truckForm.get('TruckStatus_ID') && truckForm.get('TruckStatus_ID')"></span>  
                      </mat-error> 
                    </p>
                    
                  
                      <button type="submit" style="text-decoration-color: aliceblue;" mat-raised-button color="accent"matTooltip="Click Submit Button"[disabled]="!truckForm.valid">Submit</button>      
                      <button type="reset" mat-raised-button color="accent"matTooltip="Click Reset Button" (click)="resetForm()">Reset</button>  
                    
                      <p *ngIf="dataSaved" style="color:rgb(0, 128, 0);font-size:20px;font-weight:bold" Class="success" align="left">  
                        {{massage}}  
                      </p>  
                  
                  
        </form>  
      </mat-card-content>  
    </mat-card>  
    </div>
