/* Structure */
/*.container {
    display: flex;
    flex-direction: column;
  }*/
  
  /* Toolbar */
  /*.spacer {
    flex: 1 1 auto;
  }*/
  
  /* Filter */
  /*.form {
    min-height: 56px;
    max-height: 56px;
    display: flex;
    align-items: center;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
    border-bottom: 1px solid transparent;
  }*/
 /* 
  .mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    margin-top: 8px;
  }*/
  
  /* Mat table */
  /*.no-results {
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 14px;
    font-style: italic;
  }*/
  
 /* .mat-cell:nth-child(1),
  .mat-header-cell:nth-child(1){
    flex: 0 0 6%;
  }*/
  
  /*.mat-cell:nth-child(2),
  .mat-header-cell:nth-child(2){
    flex: 0 0 30%;
  }*/
  
  /*.mat-cell:nth-child(3),
  .mat-header-cell:nth-child(3){
    flex: 0 0 6%;
  }*/
  
  /*.mat-cell:nth-child(7),
  .mat-header-cell:nth-child(7){
    flex: 0 0 7%;
  }*/
  #center{
    display: flex;
    justify-content: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
/*.container{
    flex: 1 1 auto;
}*/
::ng-deep .mat-form-field-label{
  color:#000 !important;
}
.job-card{
  /*display: flex;*/
  width: 350px;
    justify-content: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

mat-datepicker-toggle {
  color: rgb(83, 39, 202) !important;
}
mat-form-field.mat-form-field {
  font-size: 14px;
  color: #000;
  border-bottom: #000;
  outline: #000;
  
  
 
}
.mat-select-arrow {
  border-top: 5px solid rgb(10, 73, 99);
}
.mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: black;
}
textarea:focus { outline: 1px solid blue; }
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgb(24, 15, 15);
}
::ng-deep .mat-form-field-underline {
  background-color: green;
}

