.mat-tooltip.tooltipStyle {
    font-size: 11px;
    color: red;
}
.tool-tip {
    color: white;
    background-color: red;

  }
::ng-deep .mat-tooltip {
    /* your own custom styles here */ 
    /* e.g. */
    color: yellow;
}
.primary-tooltip { color: black !important; }
.placeholder{
    color:black;
}

    .mat-input-element {
        color: slategray;
    }
    .mat-form-field-label {
        color: slategray;
    }
    .mat-form-field-underline {
        background-color: slategray;
    }
    .mat-form-field-ripple {
        background-color: slategray;
    }
    .mat-form-field-required-marker {
        color: slategray;
    }

.demo-full-width{
    color:black;
}
/*
#center{
    display: flex;
    justify-content: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}*/

.service-card{
    /*max-width: 600px;*/
    display: flex;
    justify-content: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text{
    color:black;
}
mat-form-field.mat-form-field {
    font-size: 16px;
    color: #000;
  }
  ::ng-deep .mat-form-field-underline .mat-form-field-ripple{

    background-color:red;
  }
  
  ::ng-deep .mat-form-field-underline{
  
    background-color:red;
  }
  ::ng-deep .mat-form-field-label{
    color:#000 !important;
}