
<div>
    <label for="">Enter the one-time password that was sent to your email:</label>
    <input type="text" [formControl]="OTP" class="form-control">
</div>
<div *ngIf="ReEnter" class="alert alert-primary" role="alert">
    Re-enter one-time password
</div>
<div *ngIf="Invalid" class="alert alert-danger" role="alert">
    Re-enter one-time password
</div>
<div class="control-group">
    <button mat-raised-button color="primary" (click)="VerifyOTP()">Submit</button>
    <button mat-raised-button color="warn" hidden (click)="ResendOTP()">Resend OTP</button>
</div>
